RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^login$ pages/login.php
RewriteRule ^logout$ pages/logout.php
RewriteRule ^viewdashboard$ pages/dashboard.php
RewriteRule ^recette$ pages/income.php
RewriteRule ^listyears$ controllers/TaskPayment.php
RewriteRule ^getdailyincome/(.*)/(.*)$ controllers/TaskPayment.php?day=$1&year=$2
RewriteRule ^getmonthlyincome/(.*)/(.*)/(.*)$ controllers/TaskPayment.php?start=$1&end=$2&year=$3
RewriteRule ^insolvable$ pages/insolvent.php
RewriteRule ^getinsolventslist/(.*)/(.*)/(.*)/(.*)$ controllers/TaskPayment.php?y=$1&l=$2&o=$3&t=$4
RewriteRule ^rapport-affine$ pages/partpayment.php
RewriteRule ^payreport/(.*)/(.*)/(.*)/(.*)/(.*)$ controllers/TaskPayment.php?y=$1&l=$2&o=$3&t=$4&r=$5
RewriteRule ^audit-paiements$ pages/payAudit.php
RewriteRule ^audit-identites$ pages/pupilIdentityAudit.php
RewriteRule ^getdaypayupdates/(.*)/(.*)$ controllers/TaskPayment.php?d=$1&y=$2
RewriteRule ^getmonthpayupdates/(.*)/(.*)/(.*)$ controllers/TaskPayment.php?s=$1&e=$2&y=$3
